<!-- Loop over each object in the projects array -->
<div class="container">
  <div class="row">
    {{#each blogs as |blog| }}
    <div class="col-3"  id="blog-card">
      <h2>
        <a href="/blog/{{blog.id}}">{{blog.name}}</a>
      </h2>
      <p>Created by {{blog.user.name}}</p>
      <p>
        {{blog.description}}
      </p>
    </div>
    {{/each}}
  </div>
</div>