
html {
  height: auto;
}

body {
  font-family: Arial;
  margin: 0;
  background-color: rgb(234, 234, 234);
}

#blog-card {
  border-color: black;
  border-style: solid;
  margin: 5px;
}

#blog-card a {
  color: rgb(115, 98, 138);
}

#header a {
  color: rgb(49, 61, 90);
}

.no-button {
  background-color: rgb(234, 234, 234);
  border: none;
  color: rgb(49, 61, 90);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

nav a {
  border: none;
  color: rgb(49, 61, 90);
  text-decoration: none;
}