
html {
  height: auto;
}

body {
  font-family: Arial;
  margin: 0;
  background-color: rgb(226, 212, 183);
}

#blog-card {
  border-color: black;
  border-style: solid;
  margin: 5px;
}

#header a {
  color: rgb(156, 149, 131);
}